<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.newsapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NewsApp">
        <activity android:name=".SettingsActivity"
            android:label="Features"> </activity>
        <activity
            android:name=".Features.ShowLocActivity"
            android:theme="@style/Theme.NewsApp.NoActionBar"
            android:exported="true" />
        <activity
            android:name=".Features.Chatbot.Models.Message"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".Features.Chatbot.Interfaces.BotReply"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".Features.Chatbot.Helpers.SendMessageInBg"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".Features.Chatbot.Helpers.RequestJavaV2Task"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".Features.Chatbot.Adapters.ChatAdapter"
            tools:ignore="Instantiatable" />
        <activity android:name=".Features.Chatbot.ChatBotMainActivity" />
        <activity android:name=".Features.StorageActivity"
            android:theme="@style/Theme.NewsApp.NoActionBar"/>
        <activity android:name=".Features.NotificationActivity"
            android:theme="@style/Theme.NewsApp.NoActionBar"/>
        <activity android:name=".Features.CalculatorActivity"
            android:theme="@style/Theme.NewsApp.NoActionBar"/>
        <activity
            android:name=".RegistrationActivity"
            android:theme="@style/Theme.NewsApp.NoActionBar" />
        <activity
            android:name=".LoginActivity"
            android:theme="@style/Theme.NewsApp.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.NewsApp.NoActionBar" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>